* {
    transition: none !important;
    backdrop-filter: none !important;
    filter: none !important;
    animation: none !important;
}

#lowerPanel:hover .enableClickDelayed,
#lowerPanel.lowerPanelUp .enableClickDelayed,
#lowerPanel:hover #comments .commentBox>*:not(.loadingCircle),
#lowerPanel.lowerPanelUp #comments .commentBox>*:not(.loadingCircle) {
    animation-name: enableClickDelayed !important;
    animation-duration: 0.2s !important;
    animation-fill-mode: forwards !important;
}

.toolbarItem ul li {
    animation-name: enableClickDelayed !important;
    animation-duration: 0.1s !important;
    animation-fill-mode: forwards !important;
}

#lowerPanel .backTransparent {
    animation-name: enableClickDelayed !important;
    animation-duration: 0.1s !important;
    animation-fill-mode: forwards !important;
}
