#lowerPanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    transition: none;
    animation-name: fullscreenAnim;
    animation-duration: 0.7s;
    overflow: hidden;
}

@keyframes fullscreenAnim {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    30% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#comments {
    white-space: normal;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 6vw;

    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1vh);
    box-shadow: none;
    transition: none;
}

#comments .commentBox {
    margin: 1.2vh 1vh;
    height: 50vh;
    text-align: left;
    max-height: 96vw;
}

#comments .loadingIndicator {
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: normal !important;
    margin: 0;
    text-align: center;
}

#timelineContainer {
    position: absolute;
    top: 80px;
    right: 0.75vw;
    bottom: 85px;
    margin: 0;
    border-radius: 10px;
    width: auto;
}

#timelineContainer #timeline {
    display: block;
    width: auto;
    height: 100%;
}

#timelineContainer #timeline p {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
}

#timelineContainer #timeline p>* {
    display: block;
}

#timelineContainer #timeline p strong {
    font-size: 14px;
    padding: 10px 3px;
}

#timelineContainer #timeline p span {
    padding: 5px 0;
}

#timelineContainer #timeline p span:hover,
#timelineContainer #timeline p span.month-active {
    transform: scale(1.3);
}

#timelineContainer #hoverCalendar {
    bottom: auto;
    right: 44px;
    margin: 0;
    margin-top: -80px;
    transform: translateY(-50%);
}

@keyframes showHoverCalendar {
    from {
        opacity: 0;
        transform: translate(10%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

#lowerPanel #newMsg {
    position: absolute;
    top: unset;
    left: unset;
    right: 16px;
    bottom: 16px;
}

#lowerPanel:hover #newMsg,
#lowerPanel.lowerPanelUp #newMsg {
    left: unset;
    right: 16px;
}

#lowerPanel #toolbar {
    position: absolute;
    top: 16px;
    right: 16px;
}

#lowerPanel:hover #toolbar,
#lowerPanel.lowerPanelUp #toolbar {
    right: 16px;
}