#lowerPanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    transition: none;
    animation-name: fullscreenAnim;
    animation-duration: 0.7s;
    overflow: hidden;
}

@keyframes fullscreenAnim {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    30% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#comments {
    white-space: normal;
    text-align: center;
    width: 100%;
    height: 100%;

    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1vh);
    box-shadow: none;
    transition: none;
}

#comments .commentBox {
    margin: 1.5vh 1vh;
    text-align: left;
    max-height: 96vw;
}

#comments #loadingIndicator {
    width: 100%;
    height: auto;
    line-height: normal !important;
    margin: 0;
    text-align: center;
}

#lowerPanel #newMsg {
    position: absolute;
    top: unset;
    left: unset;
    right: 16px;
    bottom: 16px;
}

#lowerPanel:hover #newMsg, #lowerPanel.lowerPanelUp #newMsg {
    left: unset;
    right: 16px;
}

#lowerPanel #toolbar {
    position: absolute;
    top: 16px;
    right: 16px;
}

#lowerPanel:hover #toolbar, #lowerPanel.lowerPanelUp #toolbar {
    right: 16px;
}
