* {
    transition: none !important;
    backdrop-filter: none !important;
    filter: none !important;
    animation: none !important;
}

#lowerPanel:hover .enableClickDelayed,
#lowerPanel.lowerPanelUp .enableClickDelayed,

#lowerPanel:hover #comments .commentBox a,
#lowerPanel.lowerPanelUp #comments .commentBox a,

#lowerPanel:hover #comments .commentBox .time,
#lowerPanel.lowerPanelUp #comments .commentBox .time,

#lowerPanel:hover #comments #newCommentBox>*,
#lowerPanel.lowerPanelUp #comments #newCommentBox>* {
    animation-name: enableClickDelayed !important;
    animation-duration: 0.2s !important;
    animation-fill-mode: forwards !important;
}

.toolbarItem ul li {
    animation-name: enableClickDelayed !important;
    animation-duration: 0.1s !important;
    animation-fill-mode: forwards !important;
}
